<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>
<% if flash[:notice] %>
  <%= flash[:alert] %>
<% end %>
<%= link_to 'Sign out', nyauth.session_path, class: 'pure-menu-link', method: :delete %>
</body>
</html>
