<div class="nyauth-error-messages">
  <%= @service.errors.full_messages.join(',') %>
</div>

<%= form_for @service, url: session_path_for(nyauth_client_name) do |f| %>
  <div>
    <%= f.email_field :email, placeholder: 'email' %>
  </div>
  <div>
    <%= f.password_field :password, placeholder: 'password' %>
  </div>
  <div>
    <%= f.submit t('nav.nyauth.sessions.new') %>
  </div>
<% end %>

<ul>
  <li>
    <%= link_to new_registration_path_for(nyauth_client_name) do %>
      <%= t('nav.nyauth.registrations.new') %>
    <% end %>
  </li>
  <li>
    <%= link_to new_reset_password_request_path_for(nyauth_client_name) do %>
      <%= t('nav.nyauth.reset_password_requests.new') %>
    <% end %>
  </li>
</ul>
